#Ignore  terraform state files
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/.terraform
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/.terraform.lock.hcl
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/.terraform.tfstate
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/.terraform.tfstate.lock.info
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/terraform.tfstate
cloudsql/private-service-access-PrivateIP-PublicIP/terraform/terraform.tfstate.backup

cloudsql/private-service-connect-PSC/terraform/.terraform
cloudsql/private-service-connect-PSC/terraform/.terraform.lock.hcl
cloudsql/private-service-connect-PSC/terraform/.terraform.tfstate
cloudsql/private-service-connect-PSC/terraform/.terraform.tfstate.lock.info
cloudsql/private-service-connect-PSC/terraform/terraform.tfstate
cloudsql/private-service-connect-PSC/terraform/terraform.tfstate.backup

cloudsql/psa-publicIP/terraform/.terraform
cloudsql/psa-publicIP/terraform/.terraform.lock.hcl
cloudsql/psa-publicIP/terraform/.terraform.tfstate
cloudsql/psa-publicIP/terraform/.terraform.tfstate.lock.info
cloudsql/psa-publicIP/terraform/terraform.tfstate
cloudsql/psa-publicIP/terraform/terraform.tfstate.backup

cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/HELP.md
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/target/
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/!.mvn/wrapper/maven-wrapper.jar
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/!**/src/main/**/target/
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/!**/src/test/**/target/

cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/HELP.md
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/target/
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/!.mvn/wrapper/maven-wrapper.jar
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/!**/src/main/**/target/
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/!**/src/test/**/target/


### IntelliJ IDEA ###
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/.idea
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/*.iws
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/*.iml
cloudsql/private-service-access-PrivateIP-PublicIP/cloud-run-spring-boot3/*.ipr
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/.idea
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/*.iws
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/*.iml
cloudsql/private-service-connect-PSC/cloud-run-spring-boot3/*.ipr

.vscode/