#Ignore  terraform state files
cloud-sql/.terraform
cloud-sql/.terraform.lock.hcl
cloud-sql/.terraform.tfstate
cloud-sql/.terraform.tfstate.lock.info
cloud-sql/terraform.tfstate
cloud-sql/terraform.tfstate.backup


demo-cloudsql-cloudrun/HELP.md
demo-cloudsql-cloudrun/target/
demo-cloudsql-cloudrun/!.mvn/wrapper/maven-wrapper.jar
demo-cloudsql-cloudrun/!**/src/main/**/target/
demo-cloudsql-cloudrun/!**/src/test/**/target/


frameworks-core/HELP.md
frameworks-core/target/
frameworks-core/!.mvn/wrapper/maven-wrapper.jar
frameworks-core/!**/src/main/**/target/
frameworks-core/!**/src/test/**/target/


### STS ###
demo-cloudsql-cloudrun/.apt_generated
demo-cloudsql-cloudrun/.classpath
demo-cloudsql-cloudrun/.factorypath
demo-cloudsql-cloudrun/.project
demo-cloudsql-cloudrun/.settings
demo-cloudsql-cloudrun/.springBeans
demo-cloudsql-cloudrun/.sts4-cache

frameworks-core/.apt_generated
frameworks-core/.classpath
frameworks-core/.factorypath
frameworks-core/.project
frameworks-core/.settings
frameworks-core/.springBeans
frameworks-core/.sts4-cache

### IntelliJ IDEA ###
demo-cloudsql-cloudrun/.idea
demo-cloudsql-cloudrun/*.iws
demo-cloudsql-cloudrun/*.iml
demo-cloudsql-cloudrun/*.ipr
frameworks-core/.idea
frameworks-core/*.iws
frameworks-core/*.iml
frameworks-core/*.ipr

### NetBeans ###
demo-cloudsql-cloudrun/nbproject/private/
demo-cloudsql-cloudrun/nbbuild/
demo-cloudsql-cloudrun/dist/
demo-cloudsql-cloudrun/nbdist/
demo-cloudsql-cloudrun/.nb-gradle/
demo-cloudsql-cloudrun/build/
demo-cloudsql-cloudrun/!**/src/main/**/build/
demo-cloudsql-cloudrun/!**/src/test/**/build/

frameworks-core/nbproject/private/
frameworks-core/nbbuild/
frameworks-core/dist/
frameworks-core/nbdist/
frameworks-core/.nb-gradle/
frameworks-core/build/
frameworks-core/!**/src/main/**/build/
frameworks-core/!**/src/test/**/build/

### VS Code ###
demo-cloudsql-cloudrun/.vscode/
frameworks-core/.vscode/